@import url('https://fonts.googleapis.com/css2?family=Vela+Sans:wght@400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-vela: 'Vela Sans', Arial, Helvetica, sans-serif;
  
  /* Основной цвет бренда */
  --color-primary: #544B46;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-vela);
  line-height: 1.6;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
